# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [95]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import ClusterCentroids
from imblearn.over_sampling import SMOTE
from imblearn.combine import SMOTEENN
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score

# Read the CSV and Perform Basic Data Cleaning

In [3]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [4]:
# Load the data
file_path = Path('./Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [42]:
df = df.drop(columns=["debt_settlement_flag", "hardship_flag", "pymnt_plan"])

(68817, 83)

In [44]:
# df.head()

In [45]:
clean_loans_df = df.to_csv("./Resources/clean_loans.csv",index=False)

In [47]:
df = pd.read_csv("./Resources/clean_loans.csv")
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,dti,delinq_2yrs,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,27.24,0.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,20.23,0.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,24.26,0.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,31.44,0.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,18.76,0.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0

# Split the Data into Training and Testing

In [50]:
# Create our features
X = df.drop(columns="loan_status")
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 82 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   dti                         68817 non-null  float64
 8   delinq_2yrs                 68817 non-null  float64
 9   inq_last_6mths              68817 non-null  float64
 10  open_acc                    68817 non-null  float64
 11  pub_rec                     68817 non-null  float64
 12  revol_bal                   68817 non-null  float64
 13  total_acc                   68817 non-null  float64
 14  initial_list_status         68817 non-null  object
 15  out_prncp                   68817 non-null  float64
 16  out_prncp_inv               68817 non-null  float64
 17  total_pymnt                 68817 non-null  float64
 18  total_pymnt_inv             68817 non-null  float64
 19  total_rec_prncp             68817 non-null  float64
 20  total_rec_int               68817 non-null  float64
 21  total_rec_late_fee          68817 non-null  float64
 22  recoveries                  68817 non-null  float64
 23  collection_recovery_fee     68817 non-null  float64
 24  last_pymnt_amnt             68817 non-null  float64
 25  next_pymnt_d                68817 non-null  object
 26  collections_12_mths_ex_med  68817 non-null  float64
 27  policy_code                 68817 non-null  float64
 28  application_type            68817 non-null  object
 29  acc_now_delinq              68817 non-null  float64
 30  tot_coll_amt                68817 non-null  float64
 31  tot_cur_bal                 68817 non-null  float64
 32  open_acc_6m                 68817 non-null  float64
 33  open_act_il                 68817 non-null  float64
 34  open_il_12m                 68817 non-null  float64
 35  open_il_24m                 68817 non-null  float64
 36  mths_since_rcnt_il          68817 non-null  float64
 37  total_bal_il                68817 non-null  float64
 38  il_util                     68817 non-null  float64
 39  open_rv_12m                 68817 non-null  float64
 40  open_rv_24m                 68817 non-null  float64
 41  max_bal_bc                  68817 non-null  float64
 42  all_util                    68817 non-null  float64
 43  total_rev_hi_lim            68817 non-null  float64
 44  inq_fi                      68817 non-null  float64
 45  total_cu_tl                 68817 non-null  float64
 46  inq_last_12m                68817 non-null  float64
 47  acc_open_past_24mths        68817 non-null  float64
 48  avg_cur_bal                 68817 non-null  float64
 49  bc_open_to_buy              68817 non-null  float64
 50  bc_util                     68817 non-null  float64
 51  chargeoff_within_12_mths    68817 non-null  float64
 52  delinq_amnt                 68817 non-null  float64
 53  mo_sin_old_il_acct          68817 non-null  float64
 54  mo_sin_old_rev_tl_op        68817 non-null  float64
 55  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 56  mo_sin_rcnt_tl              68817 non-null  float64
 57  mort_acc                    68817 non-null  float64
 58  mths_since_recent_bc        68817 non-null  float64
 59  mths_since_recent_inq       68817 non-null  float64
 60  num_accts_ever_120_pd       68817 non-null  float64
 61  num_actv_bc_tl              68817 non-null  float64
 62  num_actv_rev_tl             68817 non-null  float64
 63  num_bc_sats                 68817 non-null  float64
 64  num_bc_tl                   68817 non-null  float64
 65  num_il_tl                   68817 non-null  float64
 66  num_op_rev_tl               68817 non-null  float64
 67  num_rev_accts               68817 non-null  float64
 68  num_rev_tl_bal_gt_0         68817 non-null  float64
 69  num_sats                    68817 non-null  float64
 70  num_tl_120dpd_2m            68817 non-null  float64
 71  num_tl_30dpd                68817 non-null  float64
 72  num_tl_90g_dpd_24m          68817 non-null  float64
 73  num_tl_op_past_12m          68817 non-null  float64
 74  pct_tl_nvr_dlq              68817 non-null  float64
 75  percent_bc_gt_75            68817 non-null  float64
 76  pub_rec_bankruptcies        68817 non-null  float64
 77  tax_liens                   68817 non-null  float64
 78  tot_hi_cred_lim             68817 non-null  float64
 79  total_bal_ex_mort           68817 non-null  float64
 80  total_bc_limit              68817 non-null  float64
 81  total_il_high_credit_limit  68817 non-null  float64
dtypes: float64(76), object(6)
memory usage: 43.1+ MB

In [52]:
# Create our target
y = df["loan_status"]
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [53]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [54]:
#Get Dummies
X_encoded = pd.get_dummies(X)
X_encoded.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.148001,0.371696,0.451066,0.177238,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.355104,0.483261,0.497603,0.381873,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
data_scaler = StandardScaler()

In [61]:
X_encoded_scaled = data_scaler.fit_transform(X_encoded)
X_encoded_scaled[:5]

array([[-6.01092723e-01,  9.17984364e-01, -3.65558353e-01,
        -1.92194797e-01,  2.70400563e-01, -3.03142532e-01,
        -6.56491511e-01, -7.61659174e-01, -3.74204323e-01,
        -7.32521829e-01, -8.65857295e-01, -5.81245133e-01,
        -5.80819581e-01, -5.00465445e-01, -5.00293345e-01,
        -3.22863900e-01, -8.99604190e-01, -3.22736265e-02,
         0.00000000e+00,  0.00000000e+00, -1.73835281e-01,
        -1.20112470e-01,  0.00000000e+00,  0.00000000e+00,
        -5.89694662e-03, -7.26922276e-01,  1.67997825e+00,
         2.39253304e-01,  1.19137226e+00,  1.35299632e+00,
        -8.08956027e-01, -1.34187152e-01, -4.57175710e-01,
        -1.63101750e-01, -2.48640217e-01, -8.32039942e-01,
         1.24221966e-01, -1.04213361e+00, -2.47582393e-01,
        -5.91660154e-01,  7.55780406e-01,  3.72749228e-01,
        -5.90524188e-01, -8.09152878e-01,  1.04494582e+00,
        -7.82090839e-02, -7.78953140e-03, -5.69940224e-01,
        -7.98162796e-01, -6.48459594e-01, -6.63139469e-01,
        -8.24986795e-01, -1.46743168e-01, -1.10824038e+00,
        -3.34903552e-01, -1.13862411e+00, -1.05103022e+00,
        -1.27998521e+00, -1.40011594e+00,  6.59969904e-02,
        -1.11347944e+00, -1.31043257e+00, -1.05194370e+00,
        -7.59306928e-01,  0.00000000e+00,  0.00000000e+00,
        -1.33472172e-01,  4.11389226e-01, -1.12385485e+00,
         2.06277933e+00, -3.74103443e-01,  0.00000000e+00,
        -7.48654947e-01, -4.03213352e-01, -1.03504094e+00,
         1.22936320e-01, -9.68118013e-02, -1.05407800e+00,
        -3.45692791e-01,  1.34013488e+00, -9.56939962e-01,
         1.29377539e+00, -4.16786038e-01, -7.69146348e-01,
        -9.06483424e-01,  2.15455915e+00, -3.76025544e-01,
         3.76025544e-01, -7.88142711e-01,  7.88142711e-01,
         4.02903860e-01, -4.02903860e-01],
       [ 8.09787255e-01,  1.50182932e+00,  1.55674724e+00,
         1.45236397e-01, -7.66446528e-02, -3.03142532e-01,
        -6.56491511e-01,  7.32656063e-01,  2.59496654e+00,
         3.49819979e-02,  7.57673792e-01,  8.27211454e-01,
         8.27314568e-01, -7.89794059e-02, -7.88095562e-02,
         4.27277597e-02, -5.18954654e-01, -3.22736265e-02,
         0.00000000e+00,  0.00000000e+00,  5.04755083e-01,
        -1.20112470e-01,  0.00000000e+00,  0.00000000e+00,
        -1.30854466e-02,  3.74902281e-01,  1.67997825e+00,
        -9.79514110e-02,  1.19137226e+00,  7.05739781e-01,
        -7.37386960e-01, -1.95202319e-02,  7.51583900e-01,
         1.87530974e+00,  2.14887602e+00, -1.92992867e-01,
         2.86424935e-01,  2.14392546e-01,  1.69641915e+00,
         2.56330882e+00,  3.38447424e-01,  2.59825380e+00,
        -4.56345799e-02,  6.11829064e-01, -7.09122909e-01,
        -7.82090839e-02, -7.78953140e-03, -6.75261698e-01,
         1.11814987e+00, -7.63289990e-01, -9.80447694e-01,
         3.19332562e-01, -7.38078757e-01,  5.48810751e-01,
         1.79153573e+00,  1.29596036e+00,  1.54194528e+00,
         8.86776436e-01,  1.21920657e+00,  5.94134078e-01,
         8.63994250e-01,  5.58470148e-01,  1.53973414e+00,
         7.35393288e-01,  0.00000000e+00,  0.00000000e+00,
        -1.33472172e-01,  1.99248491e+00, -4.63302569e-01,
         5.76065437e-01,  2.59563662e+00,  0.00000000e+00,
         3.18420236e-01, -1.21529903e-02,  4.27907671e-01,
        -1.28054315e-01, -9.68118013e-02,  9.48696394e-01,
        -3.45692791e-01, -7.46193550e-01, -9.56939962e-01,
        -7.72931691e-01,  2.39931262e+00, -7.69146348e-01,
        -9.06483424e-01,  2.15455915e+00, -3.76025544e-01,
         3.76025544e-01, -7.88142711e-01,  7.88142711e-01,
         4.02903860e-01, -4.02903860e-01],
       [ 3.23276918e-01,  1.50182932e+00,  1.70891756e-01,
        -2.78715616e-01,  1.22869216e-01, -3.03142532e-01,
        -6.56491511e-01, -7.61659174e-01, -3.74204323e-01,
        -1.99541965e-01, -2.97621415e-01,  3.61699549e-01,
         3.61909233e-01, -3.94614087e-01, -3.94442552e-01,
        -2.62414392e-01, -6.77755207e-01, -3.22736265e-02,
         0.00000000e+00,  0.00000000e+00,  1.55362092e-02,
        -1.20112470e-01,  0.00000000e+00,  0.00000000e+00,
        -1.04324100e-01, -6.83497904e-01,  8.30196824e-01,
        -9.79514110e-02,  1.19137226e+00,  7.05739781e-01,
        -7.37386960e-01, -2.17982985e-01,  2.59126281e-01,
         5.16368746e-01,  1.50945823e-01, -6.11600268e-01,
         1.04337212e+00, -6.70826096e-01, -8.95582908e-01,
         8.10548278e-01, -4.96218540e-01,  3.72749228e-01,
        -5.31521796e-01, -6.92168235e-01,  4.89905815e-01,
        -7.82090839e-02, -7.78953140e-03,  5.88595988e-01,
        -1.93011427e-01, -4.18798803e-01, -5.04485357e-01,
        -8.24986795e-01, -5.51341202e-01, -1.14009703e-01,
         3.91797501e+00, -7.32860034e-01, -1.86705054e-01,
        -9.70447829e-01, -9.04546835e-02, -1.98071554e-01,
        -7.17984698e-01, -6.44974261e-02, -1.88051082e-01,
        -7.59306928e-01,  0.00000000e+00,  0.00000000e+00,
        -1.33472172e-01,  9.38421122e-01, -3.40576271e+00,
         5.76065437e-01, -3.74103443e-01,  0.00000000e+00,
        -7.74810581e-01, -2.72784388e-01, -8.29780294e-01,
        -2.46838233e-01, -9.68118013e-02,  9.48696394e-01,
        -3.45692791e-01, -7.46193550e-01, -9.56939962e-01,
        -7.72931691e-01,  2.39931262e+00, -7.69146348e-01,
        -9.06483424e-01,  2.15455915e+00, -3.76025544e-01,
         3.76025544e-01, -7.88142711e-01,  7.88142711e-01,
         4.02903860e-01, -4.02903860e-01],
       [-6.49743757e-01,  7.53842900e-01, -4.41236942e-01,
         3.27593326e-02,  4.78330649e-01, -3.03142532e-01,
         6.62567652e-01, -4.29589121e-01,  2.59496654e+00,
         1.79456936e-02, -1.35268306e-01, -6.29785402e-01,
        -6.29348737e-01, -5.16698969e-01, -5.16526782e-01,
        -3.35712084e-01, -9.19226405e-01, -3.22736265e-02,
         0.00000000e+00,  0.00000000e+00, -2.00550472e-01,
        -1.20112470e-01,  0.00000000e+00,  0.00000000e+00,
        -1.04324100e-01, -5.49482806e-01, -8.69366021e-01,
         2.39253304e-01,  1.61013652e-01,  7.05739781e-01,
        -3.79541627e-01,  1.52288465e-01, -1.43793589e-01,
        -8.42572245e-01, -6.48226257e-01,  1.09620582e-02,
         7.18966185e-01, -5.22841216e-01,  1.04841864e+00,
         1.16110039e+00,  7.55780406e-01, -2.63109221e-01,
        -4.57957917e-01, -5.91420590e-01,  9.52439150e-01,
        -7.82090839e-02, -7.78953140e-03, -4.47065172e-01,
        -8.68763789e-01,  5.57259561e-01,  2.88785204e-01,
        -8.24986795e-01,  2.88977792e-01, -1.27394550e+00,
        -3.34903552e-01,  7.86681249e-02,  1.01403335e-01,
        -3.51373074e-01, -7.45285312e-01,  9.90236894e-01,
        -5.20237330e-01, -9.36652029e-01,  9.99131218e-02,
        -4.27151324e-01,  0.00000000e+00,  0.00000000e+00,
        -1.33472172e-01, -6.42674566e-01,  5.93581073e-01,
         5.76065437e-01,  2.59563662e+00,  0.00000000e+00,
        -5.73251936e-01,  1.29741873e-01, -3.74474859e-01,
         4.07856808e-01, -9.68118013e-02, -1.05407800e+00,
        -3.45692791e-01,  1.34013488e+00, -9.56939962e-01,
        -7.72931691e-01,  2.39931262e+00, -7.69146348e-01,
        -9.06483424e-01,  2.15455915e+00, -3.76025544e-01,
         3.76025544e-01, -7.88142711e-01,  7.88142711e-01,
         4.02903860e-01, -4.02903860e-01],
       [ 5.17881053e-01,  4.08938051e-01,  1.37947269e-01,
        -3.13323943e-01, -1.49420183e-01, -3.03142532e-01,
         6.62567652e-01,  2.34550984e-01, -3.74204323e-01,
        -3.89872289e-01,  2.70614466e-01,  5.59441685e-01,
         5.59606100e-01, -3.95492454e-01, -3.95320914e-01,
        -2.42826905e-01, -7.60461594e-01, -3.22736265e-02,
         0.00000000e+00,  0.00000000e+00,  3.90652276e-03,
        -1.20112470e-01,  0.00000000e+00,  0.00000000e+00,
        -1.04324100e-01,  8.26565448e-02, -8.69366021e-01,
        -7.72360841e-01, -8.69344959e-01,  5.84832406e-02,
        -2.16962941e-02, -5.32928606e-01,  6.62046151e-01,
        -1.63101750e-01, -6.48226257e-01, -4.73058229e-01,
        -7.94928190e-01,  1.79762517e-02,  4.00418122e-01,
        -5.91660154e-01, -7.88855578e-02, -2.63109221e-01,
        -2.96232471e-02,  1.32397435e-01, -7.02007011e-01,
        -7.82090839e-02, -7.78953140e-03, -1.02633328e+00,
        -3.74556838e-01, -1.89138011e-01,  6.06093429e-01,
         1.46365192e+00, -4.26849500e-01, -1.27394550e+00,
        -3.34903552e-01,  7.86681249e-02,  1.01403335e-01,
         5.77239058e-01,  7.82652821e-01, -4.62140097e-01,
         6.66246881e-01,  5.58470148e-01,  9.99131218e-02,
         2.37159883e-01,  0.00000000e+00,  0.00000000e+00,
        -1.33472172e-01, -6.42674566e-01,  5.93581073e-01,
        -9.10648458e-01, -3.74103443e-01,  0.00000000e+00,
         5.03963016e-02, -6.17197009e-01, -7.96459289e-02,
        -7.01015501e-01, -9.68118013e-02,  9.48696394e-01,
        -3.45692791e-01, -7.46193550e-01,  1.04499764e+00,
        -7.72931691e-01, -4.16786038e-01, -7.69146348e-01,
        -9.06483424e-01,  2.15455915e+00, -3.76025544e-01,
         3.76025544e-01, -7.88142711e-01,  7.88142711e-01,
         4.02903860e-01, -4.02903860e-01]])

In [62]:
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded_scaled, y, random_state = 1)

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [63]:
# Resample the training data with the RandomOversampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [67]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver="lbfgs", random_state=1)
model.fit(X_resampled, y_resampled)
y_pred = model.predict(X_test)

In [71]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.8325468421491353

In [72]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   83,    18],
       [ 2680, 14424]])

In [76]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.82      0.84      0.06      0.83      0.69       101
   low_risk       1.00      0.84      0.82      0.91      0.83      0.69     17104

avg / total       0.99      0.84      0.82      0.91      0.83      0.69     17205

### SMOTE Oversampling

In [79]:
# Resample the training data with SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
                                 sampling_strategy="auto").fit_resample(
    X_train, y_train)

In [80]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver="lbfgs", random_state=1)

model.fit(X_resampled, y_resampled)

y_pred = model.predict(X_test)

In [81]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.8440938486973113

In [82]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   83,    18],
       [ 2285, 14819]])

In [83]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.82      0.87      0.07      0.84      0.71       101
   low_risk       1.00      0.87      0.82      0.93      0.84      0.72     17104

avg / total       0.99      0.87      0.82      0.92      0.84      0.72     17205

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [86]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)

In [101]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver="lbfgs", random_state=1)

model.fit(X_resampled, y_resampled)

y_pred = model.predict(X_test)

In [102]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.844016280135965

In [103]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   84,    17],
       [ 2457, 14647]])

In [104]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.83      0.86      0.06      0.84      0.71       101
   low_risk       1.00      0.86      0.83      0.92      0.84      0.71     17104

avg / total       0.99      0.86      0.83      0.92      0.84      0.71     17205

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [96]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X_train, y_train)

In [97]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver="lbfgs", random_state=1)

model.fit(X_resampled, y_resampled)

y_pred = model.predict(X_test)

In [98]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.844016280135965

In [99]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   84,    17],
       [ 2457, 14647]])

In [100]:
# Print the imbalanced classification report
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.83      0.86      0.06      0.84      0.71       101
   low_risk       1.00      0.86      0.83      0.92      0.84      0.71     17104

avg / total       0.99      0.86      0.83      0.92      0.84      0.71     17205